!!! Strict
= render :partial => "layouts/meta_signature"
%html{:xmlns => "http://www.w3.org/1999/xhtml", :lang => "en", :'xml:lang' => "en"}
  %head
    %title PluginHub - Track, rate and discover plugins for Rails, Merb, TextMate, jQuery and more.
    %meta{:'http-equiv' => "Content-Type", :content => "text/html; charset=utf-8"}
    %meta{:name => "lang", :content => "en"}
    = stylesheet_link_tag 'style','alerts' , :cache => "pluginhub_css"
  %body
    #mast_head.clearfix
      %p#branding
        = link_to "PluginHub - Plugin Directory", root_url, :rel => "home"
      %h1#tagline
        It just became so simple to track, rate and discover plugins for Rails, Merb, TextMate, jQuery and more.
    #features.columns
      .inner.clearfix
        = yield
    #lower.columns
      .inner.clearfix
        .column.one
          .block.who
            .inner
              %h2
                What's Handcrafted about PluginHub?
              %p
                = "#{link_to "Handcrafted is a Rails development firm", "http://gethandcrafted.com/"} focused on creating applications built on a foundation of beautiful, maintainable, extensible, handcrafted code. Besides developing their own products, Handcrafted helps clients large and small to brainstorm, develop, design and refine theirs."
              = image_tag("/images/pluginhub_screenshot_1.png")
      .footer
        %p.credits.vcard
          = "&copy; 2008 #{link_to "Handcrafted", "http://gethandcrafted.com/", :class => "fn org url"}, All Rights Reserved."
    = render :partial => "shared/google_analytics"